Source: ubuntu-pomodoro
Section: python
Priority: optional
Maintainer: Shubham Yadav, <shubhamy2015@gmail.com>
Build-Depends: python-gi
Standards-Version: 3.9.2
X-Python-Version: >= 2.7.12

Package: ubuntu-pomodoro
Architecture: all
Depends: ubuntu-pomodoro, ${python-gi:Depends}, ${python:Depends}
Description: A pomodoro based ubuntu app
